/* @import url("/static/css/hljs-atom-one-light.min.css") (prefers-color-scheme: light); */
/* @import url("/static/css/hljs-atom-one-dark.min.css") (prefers-color-scheme: dark); */

/* padding: 0.25rem; */
/* 
pre:not([class]):has(code) {
    padding: 0;
    border: 1px solid var(--block-border);    
} */
/* pre:not([class]):has(code) code {
    background-color: transparent;
} */