/* https://fastly.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/atom-one-light.min.css */
/* https://fastly.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/atom-one-dark.min.css */
/* @import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2'); */
/* @import url("/static/css/jetbrains-mono.css"); */


@import url("/static/css/prism-style.css");

a.title div.main {
    font-family: "Noto Sans SC";
}
.upyun_logo {
    height: 20px;
    position: relative;
    top: 5px;
}

html, body { 
    scroll-behavior:smooth; 
}

img[src^="/static/img/emoji/smile/"] {
    height: 100% !important;
}

div.copy > input, pre, code {
    font-family: "Jetbrains Mono", Menlo, Monaco, Consolas, "Noto Sans Display", "Noto Sans SC", system-ui, "Courier New", monospace, sans-serif;
} 

aside.l_left > div.leftbar-container {
    background: var(--block);
    background-image: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}
.widget-wrapper.toc {
    background: inherit
}
@media (prefers-color-scheme: dark) {
    .search-wrapper >.search-form {
        background: var(--alpha20); 
    }
    :root {
        --card: #2e3337;
        /* var(--旧card) + var(--block) */
        /* #373d43 + #26292c */
    }
}
@media (prefers-color-scheme: light) {
    .search-wrapper >.search-form {
        background: var(--alpha50); 
    }
}
@media screen and (prefers-color-scheme: dark) and (max-width: 667px) {
    :root {
        --site-bg: #1c1e21 !important;
    }
}

.md-text .tag-plugin.mark {
    padding: 1px 1px;
}

rt {
    font-size: calc(var(--fsp) * 0.75);
    /* position: relative;
    bottom: 1.5px; */
}

jp, .jp {
    font-family: "Noto Sans JP";
}

jb, .jb, jb rt, .jb rt {
    font-family: "Jetbrains Mono";
}

rbh, .rbh, rbh ruby, .rbh ruby {
    line-height: 3;
}



.tag-plugin.image .image-meta {
    margin-bottom: -1rem;
}

.child-box-pre .note {
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    overflow: auto !important;
}

.grid-pre .grid {
    overflow: auto;
}
.grid-pre .grid .cell {
    width: 186.66px;
}


.md-text emp {
    text-decoration: none;
    border-bottom: 2px dotted #ff5724;
}

.md-text blockquote p code, .md-text ul p code, .md-text ol p code, .md-text blockquote ul code, .md-text ul ul code, .md-text ol ul code, .md-text blockquote ol code, .md-text ul ol code, .md-text ol ol code {
    font-size: 85%;
    background: var(--block);
    padding: 0.2em;
}